

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/

@font-face {
    font-family: "bold1";
    src: url('Fraunces_72pt_SuperSoft_Wonky-SemiBold.ttf');
}

@font-face {
    font-family: "bold2";
    src: url('Montserrat-Medium.ttf');
}
body {

background-color: hsl(30, 38%, 92%);
width: 1440px;
display: flex;
margin: auto;
flex-wrap: wrap;
justify-content: center;
margin-top: 15%;

}

img {

    width: 20%;
    border-radius: 10px 0px 0px 10px;


}

#texte {
    
    font-size: 14px;
    width: 20%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px 10px 10px 0px;
    
}

.attribution {
    
    width: 1000px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    
}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: .2rem;
    margin: 30px 0px 0px 27px;
    color: hsl(228, 12%, 48%);
    
}

h2 {

    margin: 18px 0px 0px 27px;
    font-family: 'bold1';
    font-size: 31px;
    width: 200px;
    line-height: 32px;
    
}

p {

    margin: 17px 0px 0px 27px;
    color : hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    width: 240px;
    font-weight: bold;
    line-height: 22px;
}


article {
    
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px 7px 7px 7px;
    height: 35px;
    width: 185px;
    padding: 8px 0px 0px 45px;
    margin:40px 0px 0px 30px;
}
article h4 {
    
    color: white;
    font-family: 'bold2';
    font-weight: bold;
    padding: 10px 0px 0px 12px;
    margin: -30px 0px 0px 30px;
   
}
article img {

    width: 15px;
    padding:2px 6px 0px 17px;
    margin-top: 4px;
}

aside {

    display: flex;
    margin-left: 27px;
    height: 44px;
}

aside h3 {
    
    font-size: 31px;
    font-family: 'bold1';
    color: hsl(158, 36%, 37%);
    margin-top: 22px;
}

aside h5 {
    
    padding: 25px 0px 0px 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding-top: 15px;
    color : hsl(228, 12%, 48%);
}